#
# Copyright (c) 2015 JD Powell <waveclaw@waveclaw.net>
#
# All modifications and additions to the file contributed by third parties
# remain the property of their copyright owners, unless otherwise agreed
# upon. The license for this file, and modifications and additions to the
# file, is the same license as for the pristine package itself (unless the
# license for the pristine package is not an Open Source License, in which
# case the license is the MIT License). An "Open Source License" is a
# license that conforms to the Open Source Definition (Version 1.9)
# published by the Open Source Initiative.
#
# Please submit bugfixes or comments via
# https://github.com/waveclaw/language-rpm-spec/issues
#
'.source.rpm-spec':
  'subpackage':
    'prefix': '%pack'
    'body': """
      %package $1
      Group: foo
      Summary: bar
      %description $1
      baz

      %files $1
    """
  'build':
    'prefix': '%bld'
    'body': """
      %build
      %configure
      %if %{defined make_jobs}
      %{make_jobs} %{?_smp_mflags}
      %else
      %{__make} %{?_smp_mflags}
      %endif
    """
  'install':
    'prefix': '%inst'
    'body': """
      %install
      %{__make} install DESTDIR=%{buildroot} %{?_smp_mflags}
    """
'.source.rpm-spec':
  'changelog entry':
    'prefix': 'chi'
    'body': """
      * ${1:weekday} ${2:monthofyear} ${3:dayofmonth} ${4:year} ${5:packager} - ${6:version}-${7:release}
      - $8
    """
# unlike gedit snippets, static snippets like these
# are fixed strings - no variables or expansions
