'scopeName': 'source.rpm.spec'
'fileTypes': [
  'spec'
]
'foldingStartMarker': '(^%(build$|changelog|check$|clean$|description|files|install$|package|pre|prep$|preun|post|postun|trigger|triggerin|triggerpostun|triggerun|verifyscript)\\s*$)'
'foldingStopMarker': '(^$)'
'name': 'RPMSpec'
'patterns': [
  {
    'include': '#line_comment'
  }
  {
    'include': '#constants'
  }
	{
			"match": "^(Icon|ExclusiveOs|ExcludeOs):"
			"name": "keyword.rpm-spec"
	}
  {
			"match": "^(BuildArch|BuildArchitectures|ExclusiveArch|ExcludeArch):"
			"name": "keyword.rpm-spec"
	}
  {
			"match": "^(Conflicts|Obsoletes|Provides|Requires|Requires\\(.*\\)):"
			"name": "keyword.rpm-spec"
	}
  {
			"match": "^(Enhances|Suggests|BuildConflicts|BuildRequires|Recommends):"
			"name": "keyword.rpm-spec"
	}
  {
			"match": "^(PreReq|Supplements|Epoch|Serial|Nosource|Nopatch):"
			"name": "keyword.rpm-spec"
	}
  {
			"match": "^(AutoReq|AutoProv|AutoReqProv):"
			"name": "keyword.rpm-spec"
	}
  {
			"match": "^(Copyright|License|Summary|Summary\\(.*\\)|Distribution):"
			"name": "keyword.rpm-spec"
	}
  {
  		"match": "^(Vendor|Packager|Group|Source\\d*|Patch\\d*|BuildRoot|Prefix):"
  		"name": "keyword.rpm-spec"
  	}
  {
			"match": "^(Name|Version|Release|Url|URL):"
			"name": "keyword.rpm-spec"
	}
  {
			"name": "keyword.rpm-spec"
			"begin": "^(Source|Patch)"
			"end": ":"
	}
  {
			"match": "^%(build$|changelog|check$|clean$|description|files|install$|package|prep$|preun|postun|triggerin|triggerpostun|triggerun|verifyscript)"
			"name": "entity.name.section.rpm-spec"
	}
  {
			"match": "^%(pre|post|trigger)"
			"name": "entity.name.section.rpm-spec"
	}

  {
			"match": "%(ifarch|ifnarch|ifos|ifnos|if[ ])"
			"name": "keyword.control.rpm-spec"
	}
  {
			"match": "^%(else$|endif$|define|global|undefine)"
			"name": "keyword.control.rpm-spec"
	}
  {
			"match": "^# norootforbuild"
			"name": "keyword.rpm-spec"
	}
  {
			"match": "^\\s*#.*$",
			"name": "comment.line.rpm-spec"
	}
  {
			"match": "^\\* .*\\)$",
			"name": "meta.documentation.rpm-spec"
	}
  {
			"begin": "%\\{"
			"end": "\\}"
			"patterns": [
				{
					"match": "\\??[A-Za-z0-9_]*"
					"name": "variable.parameter.rpm-spec"
				}
			]
	}
  {
			"match": ".*%([A-Za-z0-9_]+).*"
			"name": "variable.parameter.rpm-spec"
	}
]
